* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Faustina", serif;
}

html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  text-transform: capitalize;
  background-color: #92e3a9;
}

.navbar img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
}

.navbar .navbar-brand {
  font-family: "MonteCarlo", cursive;
  font-size: 2rem;
  font-weight: bolder;
}

.navbar .form-inline button {
  font-size: 1.2rem;
}

.navbar .form-inline button:hover {
  color: #92e3a9;
}

.navbar2 {
  z-index: 10;
}

.navbar2 .navbar-collapse .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar2 .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.navbar2 .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #92e3a9;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: rgba(146, 227, 169, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .imageBox {
  min-width: 55%;
  background-color: #fff;
  background-image: url(images/home1.png);
  background-repeat: no-repeat;
  height: auto;
  background-size: contain;
  margin: 0;
  -webkit-clip-path: polygon(0% 0%, 58% 0, 85% 51%, 71% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 58% 0, 85% 51%, 71% 100%, 0% 100%);
  -webkit-animation: background 20s alternate infinite;
          animation: background 20s alternate infinite;
}

.home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.home .content h1 {
  font-family: "MonteCarlo", cursive;
  font-size: 4rem;
  font-weight: bolder;
}

.home .content p {
  font-size: 1.6rem;
  margin-top: 1.4rem;
  font-weight: bold;
}

.home .content small {
  font-size: 1rem;
}

.home .content .btns {
  margin-top: 1.4rem;
}

.home .content .btns button {
  height: auto;
  width: 10rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  color: #92e3a9;
  border: 2px solid black;
  border-radius: 0.7rem;
}

.about {
  height: 170vh;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.about::before {
  content: "";
  position: absolute;
  height: 55rem;
  width: 20rem;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: rgba(146, 227, 169, 0.3);
}

.about::after {
  content: "";
  position: absolute;
  height: 20rem;
  width: 60rem;
  top: 20rem;
  right: 0;
  background-color: rgba(146, 227, 169, 0.3);
  z-index: -2;
}

.about .content-div {
  margin: 6rem;
}

.about .content-div .swiper-container {
  height: 24rem;
  width: 33rem;
  overflow: hidden;
  margin-right: 100%;
  z-index: -1;
}

.about .content-div .swiper-container .swiper-slide img {
  height: 24rem;
  width: 33rem;
  border-top: 1rem;
  border-left: 1rem;
}

.about .content-div .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 42rem;
  height: 42rem;
  top: 23rem;
  left: 30rem;
}

.about .content-div .contents .content {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  margin: 0.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .content-div .contents .content h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.about .content-div .contents .content:nth-child(1) {
  border-top-left-radius: 3rem;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about .content-div .contents .content:nth-child(2) {
  border-top-right-radius: 3rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about .content-div .contents .content:nth-child(3) {
  border-bottom-left-radius: 3rem;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.about .content-div .contents .content:nth-child(4) {
  border-bottom-right-radius: 3rem;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.hosting-benefits {
  height: 150vh;
  width: 100vw;
  background-color: rgba(46, 49, 49, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.hosting-benefits .content {
  margin-right: 4rem;
}

.hosting-benefits .content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.hosting-benefits .content p {
  margin-bottom: 2rem;
}

.hosting-benefits .content button {
  height: 3rem;
  width: 9rem;
  font-size: 1.3rem;
}

.hosting-benefits .content button:hover {
  color: #92e3a9;
}

.hosting-benefits .boxes {
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hosting-benefits .boxes .box {
  height: 23rem;
  width: 18rem;
  padding: 1rem;
  background-color: #fff;
  margin: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hosting-benefits .boxes .box:nth-child(1) {
  background-color: rgba(146, 227, 169, 0.4);
}

.hosting-benefits .boxes .box:nth-child(2) {
  background-color: #fff;
}

.hosting-benefits .boxes .box:nth-child(3) {
  background-color: #fff;
}

.hosting-benefits .boxes .box:nth-child(4) {
  background-color: rgba(146, 227, 169, 0.4);
}

.hosting-benefits .boxes .box h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.hosting-benefits .boxes .box p {
  font-style: italic;
}

.hosting-benefits .boxes .box i {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.gallery {
  width: 100vw;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.gallery h1 {
  font-size: 3rem;
  margin: 2rem;
}

.gallery .gallery-box {
  -webkit-column-count: 4;
          column-count: 4;
  position: relative;
}

.gallery .gallery-box img {
  display: inline-block;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
  -webkit-transition: 0.25 ease-in-out;
  transition: 0.25 ease-in-out;
}

.clients {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4rem;
}

.clients h1 {
  font-size: 3rem;
  color: #92e3a9;
  margin-bottom: 6rem;
}

.clients .carousel-multi-item {
  margin: 0 auto;
}

.clients .carousel-multi-item .controls-top {
  margin-bottom: 5rem;
}

.clients .carousel-multi-item .controls-top .btn-floating {
  border: 2px solid #92e3a9;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clients .carousel-multi-item .controls-top .btn-floating:hover {
  border: 2px solid #fff;
}

.clients .carousel-multi-item .controls-top .btn-floating:hover i {
  color: #fff;
}

.clients .carousel-multi-item .controls-top .btn-floating i {
  font-size: 2rem;
  color: #92e3a9;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card {
  margin: 0.5rem;
  height: 18rem;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: inherit;
  border: none;
  padding: 0.6rem;
  -webkit-box-shadow: -1px 7px 13px 1px rgba(0, 0, 0, 0.64);
          box-shadow: -1px 7px 13px 1px rgba(0, 0, 0, 0.64);
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card img {
  height: 8rem;
  width: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body {
  line-height: 5rem;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .card-title {
  font-size: 2rem;
  margin-bottom: 0;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons {
  margin-bottom: 0;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons i {
  font-size: 1.6rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0.5rem;
}

.clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons i:hover {
  color: #92e3a9;
}

.features {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5rem;
}

.features h1 {
  font-size: 3rem;
}

.features .row {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.features .row .image img {
  width: 45vw;
  height: auto;
}

.features .row .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(146, 227, 169, 0.3);
  padding: 5rem;
}

.features .row .content a .btn {
  background-color: black;
  color: #92e3a9;
}

.forms {
  width: 100vw;
  background-color: rgba(46, 49, 49, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 4rem;
}

.forms h1 {
  font-size: 3rem;
  margin: 4rem;
}

.forms .row {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forms .row .card {
  width: 30vw;
  color: white;
}

.forms .row .card .card-body form .form-group .float-right {
  color: #92e3a9;
}

.forms .row .card .card-body form .form-group .btn {
  background-color: #92e3a9;
}

@media (max-width: 800px) {
  html {
    font-size: 80%;
  }
  .navbar .form-inline button {
    font-size: 1.2rem;
  }
  .navbar2 .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;
    margin: 0.4rem;
  }
  .home {
    height: 70vh;
  }
  .home .imageBox {
    min-width: 65%;
  }
  .home .content .btns button {
    width: 9rem;
    font-size: 1rem;
  }
  .about {
    height: 100vh;
    width: 100vw;
  }
  .about::before {
    height: 40rem;
    width: 15rem;
  }
  .about::after {
    height: 15rem;
    width: 40rem;
    top: 27rem;
  }
  .about .content-div {
    margin: 4rem;
  }
  .about .content-div .swiper-container {
    height: 20rem;
    width: 29rem;
  }
  .about .content-div .swiper-container .swiper-slide img {
    height: 20rem;
    width: 29rem;
  }
  .about .content-div .contents {
    width: 32rem;
    height: 32rem;
    top: 23rem;
    left: 30rem;
    top: 18rem;
    left: 24rem;
  }
  .about .content-div .contents .content {
    width: 15rem;
    height: 15rem;
    padding: 0.7rem;
  }
  .about .content-div .contents .content h1 {
    font-size: 1.7rem;
  }
  .about .content-div .contents .content p {
    font-size: 0.8rem;
  }
  .hosting-benefits {
    height: 150vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0rem;
  }
  .hosting-benefits .content {
    margin-right: 0rem;
    margin-bottom: 4rem;
  }
  .hosting-benefits .boxes {
    height: 45rem;
    width: 38rem;
  }
  .hosting-benefits .boxes .box {
    height: 23rem;
    width: 18rem;
    padding: 1rem;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .gallery {
    height: 95vh;
    padding: 4rem;
  }
  .gallery::before {
    height: 45rem;
    width: 20rem;
  }
  .gallery::after {
    height: 45rem;
    width: 20rem;
  }
  .clients .carousel-multi-item .controls-top .btn-floating {
    border: 2px solid #92e3a9;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
  }
  .clients .carousel-multi-item .controls-top .btn-floating i {
    font-size: 1.5rem;
    color: #92e3a9;
  }
  .clients .carousel-multi-item .carousel-inner {
    margin-left: 10%;
  }
  .features {
    padding: 3rem;
  }
  .features h1 {
    font-size: 3rem;
  }
  .features .row .content {
    padding: 3rem;
  }
  .forms {
    padding: 3rem;
  }
  .forms .row {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .forms .row .card {
    width: 42vw;
    color: white;
  }
  .forms .row .card .card-body form .form-group .float-right {
    color: #92e3a9;
  }
  .forms .row .card .card-body form .form-group .btn {
    background-color: #92e3a9;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 60%;
  }
  .navbar img {
    height: 4rem;
    width: 4rem;
  }
  .navbar .navbar-brand {
    font-size: 3rem;
  }
  .home {
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color: rgba(146, 227, 169, 0.4);
    z-index: 1;
  }
  .home .imageBox {
    display: none;
  }
  .home .content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 3;
  }
  .home .content h1 {
    font-family: "MonteCarlo", cursive;
    font-size: 4rem;
    font-weight: bolder;
  }
  .home .content p {
    font-size: 1.6rem;
    margin-top: 1.4rem;
    font-weight: bold;
  }
  .home .content small {
    font-size: 1rem;
    margin-top: 1.4rem;
  }
  .home .content .btns {
    margin-top: 2rem;
  }
  .home .content .btns button {
    height: auto;
    width: 10rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    color: #92e3a9;
    border: 2px solid black;
    border-radius: 0.7rem;
    margin-right: 0.7rem;
  }
  .about {
    height: 120vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 1rem;
  }
  .about::before {
    content: "";
    position: absolute;
    height: 30rem;
    width: 15rem;
  }
  .about::after {
    content: "";
    position: absolute;
    height: 15rem;
    width: 30rem;
    top: 40rem;
    right: 0;
    background-color: rgba(146, 227, 169, 0.3);
    z-index: -2;
  }
  .about .content-div {
    margin-top: 4rem;
  }
  .about .content-div .swiper-container {
    margin: 0 auto;
    position: relative;
    height: 24rem;
    width: 33rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: -1;
  }
  .about .content-div .swiper-container .swiper-slide img {
    height: 24rem;
    width: 33rem;
    border-top: 1rem;
    border-left: 1rem;
  }
  .about .content-div .contents {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 42rem;
    height: 42rem;
    top: 0;
    left: 0;
    background-color: none;
  }
  .about .content-div .contents .content {
    width: 16rem;
    height: 20rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 0 auto;
  }
  .about .content-div .contents .content p {
    font-size: 0.9rem;
  }
  .hosting-benefits {
    height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  .hosting-benefits .boxes {
    margin-bottom: 4rem;
  }
  .gallery {
    margin-top: 4rem;
    height: 175vh;
    padding: 1rem;
  }
  .gallery::before {
    height: 0rem;
    width: 0rem;
  }
  .gallery::after {
    height: 0rem;
    width: 0rem;
  }
  .gallery .gallery-box {
    -webkit-column-count: 2;
            column-count: 2;
    position: relative;
  }
  .gallery .gallery-box img {
    display: inline-block;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 100%;
    -webkit-transition: 0.25 ease-in-out;
    transition: 0.25 ease-in-out;
  }
  .clients {
    height: 105vh;
    width: 100vw;
    padding: 2rem;
  }
  .clients .carousel-multi-item {
    width: 95vw;
    margin: 0 auto;
  }
  .clients .carousel-multi-item .controls-top {
    margin-bottom: 5rem;
  }
  .clients .carousel-multi-item .carousel-inner {
    margin-left: 0%;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card {
    margin: 0.5rem;
    height: 19rem;
    width: 15rem;
    margin-bottom: 4rem;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card img {
    height: 7rem;
    width: 7rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body {
    line-height: 5rem;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .card-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons {
    margin-bottom: 0;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons i {
    font-size: 1.6rem;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0.5rem;
  }
  .clients .carousel-multi-item .carousel-inner .carousel-item .card-div .card .card-body .icons i:hover {
    color: #92e3a9;
  }
  .features {
    padding: 3rem;
  }
  .features h1 {
    margin: 3rem;
  }
  .features .row:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .features .row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .features .row .image img {
    width: 55vw;
    height: auto;
  }
  .features .row .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: rgba(146, 227, 169, 0.3);
    padding: 3rem;
    width: 80vw;
  }
  .features .row .content a .btn {
    background-color: black;
    color: #92e3a9;
  }
  .forms {
    width: 100vw;
    background-color: rgba(46, 49, 49, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 4rem;
  }
  .forms h1 {
    font-size: 3rem;
    margin: 4rem;
  }
  .forms .row {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .forms .row .card {
    width: 60vw;
    color: white;
    margin-bottom: 4rem;
  }
  .forms .row .card .card-body form .form-group .float-right {
    color: #92e3a9;
  }
  .forms .row .card .card-body form .form-group .btn {
    background-color: #92e3a9;
  }
}
/*# sourceMappingURL=style.css.map */